<div class="page__footer-follow">
	{% if site.email %}
	<a href="mailto:{{site.email}}"><i class="fas fa-envelope fa-lg"></i></a>
	{% endif %}
	{% if site.twitter.username %}
	<a href="https://twitter.com/{{site.twitter.username}}"><i class="fab fa-twitter fa-lg"></i></a>
	{% endif %}
	{% if site.facebook.username %}
	<a href="https://facebook.com/{{site.facebook_page}}"><i class="fab fa-facebook fa-lg"></i></a>
	{% endif %}
	{% if site.github %}
	<a href="https://github.com/MIT-ANZ-Club/anz-website"><i class="fab fa-github fa-lg"></i></a>
	{% endif %}
</div>

<div class="page__footer-copyright">&copy; {{ site.time | date: '%Y' }} MIT ANZ Club.</div>